h1 {
    text-align: center;
}
  
.card-header{
    padding-left: 10px;
}
  
.form-control{
    width: 87%;
    margin-right: 2px;
}
  
.row {
    padding-left: 10px;
}
  
span {
    display: inline-flex;
}
  
.container {
    background-color: #fff;
  
    display: block;
    margin: 0 auto;
  
    border-radius: 10px;
    padding-bottom: 50px;
    width: 90%;
}
  
.forecast-card{
    background-color: royalblue;
    color: white;
}

.app-title {
    height: 50px;
    border-radius: 10px 10px 0 0;
}

.app-title p {
    text-align: center;
    padding: 15px;
    margin: 0 auto;
    font-size: 1.2em;
    color: #293251;
}

.notification {
    background-color: #f8d7da;
    display: none;
}

.notification p {
    color: #721c24;
    font-size: 1.2em;
}